<h3>{{ 'sidebar.last_games'|trans }} dummy</h3>
<div class="date-list">
    <ul class="list date-list">
        <li class="first"><span class="date">Jan 13</span> <a href="#">future feature</a></li>
        <li><span class="date">Jan 7</span> <a href="#">Neghghgolor egghget</a></li>
        <li><span class="date">Jan 1</span> <a href="#">Sollicitughghgh terdum</a></li>
        <li class="last"><span class="date">Dec 26</span> <a href="#">Varghgh gnissim</a></li>
    </ul>
</div>
